.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}

.logo {
    padding-top: 18px;
}

.registerarea {
    height: 522px;
    border: 1px #cccccc solid;
    margin-top: 20px;
}

.registerarea .tab {
    height: 42px;
    border-bottom: #cccccc 1px solid;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
}

.registerarea .tab p {
    font-size: 18px;
}

.login {
    float: right;
    font-size: 14px;
}

p i b {
    color: #c81523;
    font-weight: 400;
}

.reg_form {
    width: 600px;
    margin: 50px auto 0;
}

.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}

.reg_form ul li {
    margin-bottom: 20px;
}

.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #cccccc;
}

.error {
    color: #c81523;
}

.error_icon,
.sucess_icon {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    margin-top: -2px;
    margin-left: 10px;
}

.success {
    color: green;
}

.error_icon {
    background: url(../images/error.png) no-repeat;
}

.sucess_icon {
    background: url(../images/success.png) no-repeat;
}

.safe em {
    padding: 0 12px;
    color: #ffffff;
    margin: 0 2px;
}

.ruo {
    background-color: #de1111;
}

.zhong {
    background-color: #40b83f;
}

.qiang {
    background-color: #f79100;
}

.safe {
    padding-left: 163px;
}
.argee {
    padding-left: 95px;
}
.argee input {
    vertical-align: middle;
}
.argee a {
    color: #1ba1e6;
}
.btn {
    width: 200px;
    height: 34px;
    background-color: #c81623;
    font-size: 14px;
    color: #ffffff;
    margin: 30px 0 0 111px;
    border-style: none;
}

.copyright {
    text-align: center;
    color: #666666;
    font-size: 12px;
}